[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask="*"
gunicorn="*"
flask-cors = "*"
aitextgen = {ref = "fix_tpu_available", git = "https://github.com/llimllib/aitextgen"}

[dev-packages]

[requires]
python_version = "3.8"
